{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": true,
            "displayName": false
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "styled-components",
          {
            "ssr": false,
            "displayName": true
          }
        ]
      ]
    }
  }
}
