@import url('variables.css');

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    max-height: 1800px;
    padding-top: 20px;
    padding-right: 200px;
    padding-bottom: 60px;
    padding-left: 200px;
}

img {
    width: 1040px;
    margin-bottom: 8px;
}

h1 {
    font-weight: bold;
}
.navbar {
    width: 100%;
    background-color: var(--dark-orange);
    opacity: 1;
}
.navbar a {
    font-family: Raleway-Regular;
    font-size: 12px;
    color: var(--white);
    padding-right: 30px;
}
