@import url('variables.css');

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    margin-bottom: -.08em;
}

a {
    font-family: Raleway-Regular;
    font-size: 12px;
    color: var(--white);
    padding-right: 30px;
}

/* Button style */
button {
    width: 180px;
    height: 42px;
    font-family: Raleway-Regular;
    font-size: 16px;
    background-color: var(--green);
    color: var(--white);
}

#learn {
    position: relative;
    top: 130px;
    left: 132px;
    width: 180px;
    height: 42px;
}
/* End button style */

.main-container {
    margin: auto;
    max-width: 1440px;
}

.header {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    background-image: url('https://res.cloudinary.com/willblake01/image/upload/v1538509884/range-front/main_img.png');
}

.header-copy {
    align-self: flex-start;
    position: relative;
    top: 120px;
    left: 132px;
    line-height: 27px;
    color: var(--dark-orange);
    opacity: .9;
}

#first-line {
    font-family: AbrilFatface-Regular;
    font-size: 40px;
}

#second-line {
    font-family: AbrilFatface-Regular;
    font-size: 88px;
}

#third-line {
    font-family: Raleway-Medium;
    font-size: 20px;
    line-height: 26px;
}

.navbar {
    width: 100%;
    height: 55px;
    position: relative;
    top: 110px;
    background-color: var(--dark-orange);
    opacity: .9;
    padding-left: 132px;
    padding-right: 132px;
}

.marketing {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 607px;
    background-image: url('https://res.cloudinary.com/willblake01/image/upload/v1538509884/range-front/marketing_img.png');
}

#clearance {
    position: relative;
    top: 520px;
    width: 180px;
    height: 42px;
}

#clearance-btn {
    background-color: var(--brown);
}

/* Shopping tiles */
.shopping-tiles {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
}

#shop-tents {
    width: 33.33%;
    height: 480px;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: var(--white);
}

#shop-tents:hover {
    opacity: 0.45;
}

#tents-tile {
    width: 480px;
    height: 480px;
    opacity: 0.34;
}

#shop-sleepingBags {
    width: 33.33%;
    height: 480px;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: var(--white);
}

#shop-sleepingBags:hover {
    opacity: 0.45;
}

#bags-tile {
    width: 480px;
    height: 480px;
    opacity: 0.36;
}

#shop-backpacks {
    width: 33.33%;
    height: 480px;
    min-width: 480px;
    position: relative;
    text-align: center;
    color: var(--white);
}

#shop-backpacks:hover {
    opacity: 0.45;
}

#packs-tile {
    width: 480px;
    height: 480px;
    opacity: 0.56;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
/* End shopping tiles */

/* Accepted payments section */
.accepted-payment {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 580px;
    background-image: url('https://res.cloudinary.com/willblake01/image/upload/v1538509893/range-front/topography.png');
}

.section {
    width: 720px;
}

#credit-card {
    width: 400px;
    position: relative;
    top: 140px;
    left: 150px;
    text-align: center;
}

#bitcoin {
    width: 280px;
    position: relative;
    top: 120px;
    left: 190px;
    text-align: center;
}
/* End accepted payments */

.empty-section {
    width: 100%;
    height: 680px;
    background-image: url('https://res.cloudinary.com/willblake01/image/upload/v1538509888/range-front/rock_climber.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.footer {
    width: 100%;
    height: 140px;
    background-color: var(--green);
}

.footer-block {
    position: relative;
    top: 64px;
    text-align: center;
    color: var(--white);
}


.social {
    text-align: right;
}

.social-icon {
    position: relative;
    top: 50px;
    height: 40px;
}

@media screen and (max-width: 1024px) {
    .navbar {
        height: 110px;
        position: relative;
        top: 10px;
        background-color: var(--dark-orange);
        opacity: .8;
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        font-size: 18px;
        padding-right: 45px;
    }

    .header-copy {
        align-self: flex-start;
        position: relative;
        top: 30px;
        left: 20px;
        line-height: 27px;
        color: var(--light-orange);
    }

    button {
        width: 240px;
        height: 60px;
        font-family: Raleway-Regular;
        font-size: 16px;
        background-color: var(--green);
        color: var(--white);
    }

    #learn {
        position: relative;
        left: 20px;
        top: 50px;
        width: 240px;
        height: 60px;
    }

    .section {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 110px;
        position: relative;
        top: 10px;
        background-color: var(--dark-orange);
        opacity: .8;
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        font-size: 18px;
        padding-right: 45px;
    }

    .header-copy {
        align-self: flex-start;
        position: relative;
        top: 30px;
        left: 20px;
        line-height: 27px;
        color: var(--light-orange);
    }

    #first-line {
        font-family: AbrilFatface-Regular;
        font-size: 26px;
        line-height: 14px;
    }

    #second-line {
        font-family: AbrilFatface-Regular;
        font-size: 74px;
        line-height: 16px;
    }

    #third-line {
        position: relative;
        top: 6px;
        font-family: Raleway-Medium;
        font-size: 14px;
        line-height: 14px;
    }

    /* Button style */
    button {
        width: 240px;
        height: 60px;
        font-family: Raleway-Regular;
        font-size: 16px;
        background-color: var(--green);
        color: var(--white);
    }

    #learn {
        position: relative;
        top: 60px;
        width: 240px;
        height: 60px;
    }
    /* End button style */

    /* Shopping tiles */
.shopping-tiles {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
}

#shop-tents {
    width: 33.33%;
    position: relative;
    text-align: center;
    color: var(--white);
}

#tents-tile {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#shop-sleepingBags {
    width: 33.33%;
    position: relative;
    text-align: center;
    color: var(--white);
}

#bags-tile {
    width: 100%;
    height: 100%;
    opacity: 0.46;
}

#shop-backpacks {
    width: 33.33%;
    position: relative;
    text-align: center;
    color: var(--white);
}

#shop-backpacks:hover {
    opacity: 0.45;
}

#packs-tile {
    width: 100%;
    height: 100%;
    opacity: 0.48;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
/* End shopping tiles */

    .social-icon {
        position: relative;
        top: 26px;
        height: 50px;
    }

    .footer-block {
        position: relative;
        top: 40px;
        text-align: center;
        color: var(--white);
    }
}
