@import url('variables.css');

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    padding-right: 200px;
    padding-bottom: 60px;
    padding-left: 200px;
}

img {
    width: 1040px;
    margin-bottom: 8px;
}

h1 {
    padding-top: 20px;
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

p.boldPara {
    font-weight: bold;
}
.navbar {
    width: 100%;
    background-color: var(--dark-orange);
    opacity: 1;
}
.navbar a {
    font-family: Raleway-Regular;
    font-size: 12px;
    color: var(--white);
    padding-right: 30px;
}
